/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Footer styling */
.footer {
    width: 100%;
    background-color: #fff; /* Footer with white background */
}

/* Footer logo and social links */
.school-logo, .footer-logo {
    max-height: 40px; /* Adjust to fit your design */
}

.btn-social {
    color: #212529; /* Social icons color */
}



/* Add other styles and media queries as necessary */



/* School logo grayscale and scaling */
.school-logo {
    max-height: 50px; /* Fixed height for all logos */
    margin: 0 10px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}
.telecom-paris-logo {
    max-height: 50px; /* Adjust the size to your preference */
    filter: grayscale(100%);
    transition: filter 0.3s; /* Smooth transition for grayscale effect */
  }
  
  .telecom-paris-logo:hover {
    filter: none; /* Removes the grayscale filter when hovering */
  }

.school-logo:hover {
    filter: none;
}

/* Social media button styling */
.btn-social {
    color: #212529;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 1.2rem; /* Adjust size as needed */
}

/* Footer logos container */
.logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

/* Responsive image styling */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Add your media queries as needed for responsiveness */
@media (max-width: 768px) {
    /* Adjust navbar logo and padding on smaller screens */
    .navbar-brand img {
        max-height: 50px;
    }
    .navbar {
        padding: 0.5rem 0;
    }
}

/* Ensure to add JavaScript to toggle 'scrolled' class based on page scroll */
